@import "./variables.scss";

@font-face {
  font-family: 'DIN Next W01 Regular';
  src: local('DINNextW01Regular'), url(./Fonts/DINNextW01Regular.otf) format('otf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'DIN Next W01 Regular';
  font-size: 1.6rem;
  color: $white;
  background-color: $cod-gray;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 2rem;
  line-height: 1.7;
  font-weight: 600;
  text-shadow: 0 0 0.5rem $white;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}