$black : #000000;
$cod-gray : #151515;
$white: #fff;
$mine-shaft: #343434;
$clam-shell: #d4b5b5;
$yellow-metal: #776842;
$french-rose : #F64A8A;
$cornflower-blue : #6495ED;
$dusty-gray: #9c9c9c;


$font-family-main: 'DIN Next W01 Regular';
$font-bold: 600;
$font-size-small: 1.5rem;
$transition: .4s;

$spacing-small: 1rem;
