@import '@styles/variables.scss';

.btns {
    &__container {
        max-width: 144rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 0 1.5rem;
        margin-top: 2rem;
    }
}

.link {
    margin: $spacing-small;
}
